ul, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.photo
{
    display: flex;
    justify-content: center;
    
}

body
{
    background-color:grey;
}

.name
{
    display: flex;
    justify-content: center;
}

header
{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: -8px;
    margin-left: 80%;
    margin-right: -8px;
}

section
{
    display: flex;
    
    flex-direction: column;
    justify-content: left;
    margin-right: 10%;
}