ul, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.photo
{
    display: flex;
    justify-content: center;
    
}

body
{
    background-color:grey;
}

.name
{
    display: flex;
    justify-content: center;
}
header
{
    background-color: blue;
    margin-left: 80%;
    margin-block-start: -8px;
    margin-right: -8px;
    margin-left: 80%;
}

section
{
    display: flex;
    margin-right: 10%;
}